<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.sih2018">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permsission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pragathimannyab"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOwbWBhxLmURwb0q4ylseTWX9LzLpKdM8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".AdminWorkSpace" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".VerifierLoginActivity" />
        <activity android:name=".VerifierWorkSpace" />
        <activity android:name=".ResetPasswordVerifierActivity" />
        <activity android:name=".AdminAddTaskActivity" />
        <activity android:name=".ValidateGPSActivity" />
        <activity android:name=".AdminRemoveTaskActivity" />
        <activity android:name=".FingerPrintActivity" />
        <activity
            android:name=".FingerprintAuthenticationDialogFragment"
            android:label="@string/title_activity_fingerprint_authentication_dialog_fragment"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".TestGPSLocation"></activity>
    </application>

</manifest>